/.deps
/.libs
/Makefile
/Makefile.in
/gap_bluebox
/gap_decode_mplayer
/gap_filter
/gap_fmac
/gap_fmac_varying
/gap_morph
/gap_name2layer
/gap_navigator_dialog
/gap_onion
/gap_player
/gap_plugins
/gap_storyboard
/gap_video_extract
/gap_video_index
/gap_wr_color_curve
/gap_wr_color_huesat
/gap_wr_color_levels
/gap_wr_opacity
/gap_wr_resynth
/gap_wr_trans
/*.a
